{% extends 'librarian/home.html' %}

{% block home %}
<div class="heading_title">New employee form (Student)
   - <a href="download_student"><i class="fa fa-download">
   </i></a></div>
<div>
  <form method="POST" enctype="multipart/form-data">
      <input type="text" name="id" placeholder="id" class="input_list"/> <br />
      <input type="text" name="name" placeholder="Name" class="input_list"/> <br />
      <input type="text" name="role" placeholder="role" class="input_list"/> <br />
      <input type="text" name="address" placeholder="Address (Max 200 charachters)" class="input_list"/> <br />
      <input type="file" name="file" class="input_list">
      <input type="submit" class="input_list"/>  
  </form>

</div>
{% endblock %}