{% extends 'librarian/home.html' %}


{% block head %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Track Material Design Bootstrap Admin Template</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../static/admin_assets/materialize/css/materialize.min.css"
    media="screen,projection" />
  <!-- Bootstrap Styles-->
  <link href="../../static/admin_assets/css/bootstrap.css" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <!-- Morris Chart Styles-->
  <link href="../../static/admin_assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="../../static/admin_assets/css/custom-styles.css" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="../../static/admin_assets/js/Lightweight-Chart/cssCharts.css">
</head>
{% endblock %}

{% block nav %}
<div id="wrapper">
  <nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
        data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand waves-effect waves-dark" href="/librarian/home"><i
          class="large material-icons">track_changes</i> <strong>Librarian</strong></a>
      <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
    </div>
    <ul class="nav navbar-top-links navbar-right">

      <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i
            class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
            class="fa fa-user fa-fw"></i> <b>{{name}}</b> <i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </nav>


  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
    </li>
    <li><a href="#"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </li>
  </ul>
  <ul id="dropdown2" class="dropdown-content w250">
    <li>
      <div>
        <i class="fa fa-comment fa-fw"></i> New Comment
        <span class="pull-right text-muted small">4 min</span>
      </div>
      </a>
    </li>
    <li class="divider"></li>

    <li>
      <div>
        <i class="fa fa-envelope fa-fw"></i> Message Sent
        <span class="pull-right text-muted small">4 min</span>
      </div>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <div>
        <i class="fa fa-tasks fa-fw"></i> New Task
        <span class="pull-right text-muted small">4 min</span>
      </div>
      </a>
    </li>

    <li class="divider"></li>
    <li>
      <a class="text-center" href="#">
        <strong>See All Alerts</strong>
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>

  <!--/. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">

        <li>
          <a href="/librarian/home" class=" waves-effect waves-dark"><i class="fas fa-tachometer-alt"></i>
            Dashboard</a>
        </li>

        <li>
          <a href="/librarian/requests" class="active-menu waves-effect waves-dark"><i class="fa fa-bell"></i>
            Request</a>
        </li>
        <li>
          <a href="/books/home" class="waves-effect waves-dark"><i class="fa fa-window-restore"></i>Browse</a>
        </li>
        <li>
          <a href="/librarian/tab" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i> Tabs &
            Panels</a>
        </li>
        <li>
          <a href="/librarian/table" class="waves-effect waves-dark"><i class="fa fa-table"></i> Responsive
            Tables</a>
        </li>
      </ul>
    </div>
  </nav>

  {% endblock %}
  {% block home %}
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper">
    <div class="header">
      <h1 class="page-header">
        Requests Page
      </h1>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Requests</a></li>
        <li class="active">table</li>
      </ol>

    </div>

    <div id="page-inner">

      <div class="row">
        <div class="col-md-12">
          <!-- Advanced Tables -->
          <div class="card">
            <div class="card-action">
              Issue Request
            </div>
            <div class="card-content">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>User Id</th>
                      <th>Role</th>
                      <th>Book Id</th>
                      <th>Request Status</th>
                      <th>Books Issued</th>
                      <th>Accept</th>
                      <th>Reject</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rows in requests_issue_pending %}
                    <tr>
                      <td>{{rows[1]}}</td>
                      <td>{{rows[4]}}</td>
                      <td>{{rows[0]}}</td>
                      <td>{{rows[2]}}</td>
                      <td>{{rows[3]}}</td>
                      {% set user_id = rows[1] %} {% set isbn = rows[0] %} {% if rows[4][0] == 's'
                      and rows[3] > 3 %}
                      <td>
                        <a href="/librarian/accept/issue/{{user_id~'/'~isbn}}"><button class="btn-success"
                            disabled>Accept</button></a>
                      </td>
                      {% elif rows[4][0] == 'f' and rows[3] > 10 %}
                      <td>
                        <a href="/librarian/accept/issue/{{user_id~'/'~isbn}}"><button class="btn-success"
                            disabled>Accept</button></a>
                      </td>
                      {% else %}
                      <td>
                        <a href="/librarian/accept/issue/{{user_id~'/'~isbn}}"><button
                            class="btn-success">Accept</button></a>
                      </td>
                      {% endif %}
                      <td>
                        <a href="/librarian/deny/issue/{{user_id~'/'~isbn}}"><button
                            class="btn-danger">Reject</button></a>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>

            </div>
          </div>
          <!--End Advanced Tables -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Advanced Tables -->
          <div class="card">
            <div class="card-action">
              Hold Request
            </div>
            <div class="card-content">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>User Id</th>
                      <th>Role</th>
                      <th>Book Id</th>
                      <th>Request Status</th>
                      <th>Books Issued</th>
                      <th>Accept</th>
                      <th>Reject</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rows in requests_hold_pending %}
                    <tr class="gradeX">
                      <td>{{rows[1]}}</td>
                      <td>{{rows[6]}}</td>
                      <td>{{rows[0]}}</td>
                      <td>{{rows[4]}}</td>
                      <td>{{rows[5]}}</td>
                      {% set user_id = rows[1] %} {% set isbn = rows[0] %} {% if rows[6][0] == 's'
                      and rows[5] > 3 %}
                      <td>
                        <a href="/librarian/accept/hold/{{user_id~'/'~isbn}}"><button class="btn-success"
                            disabled>Accept</button></a>
                      </td>
                      {% elif rows[6][0] == 'f' and rows[5] > 10 %}
                      <td>
                        <a href="/librarian/accept/hold/{{user_id~'/'~isbn}}"><button class="btn-success"
                            disabled>Accept</button></a>
                      </td>
                      {% else %}
                      <td>
                        <a href="/librarian/accept/hold/{{user_id~'/'~isbn}}"><button
                            class="btn-success">Accept</button></a>
                      </td>
                      {% endif %}
                      <td>
                        <a href="/librarian/deny/hold/{{user_id~'/'~isbn}}"><button
                            class="btn-danger">Reject</button></a>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>

            </div>
          </div>
          <!--End Advanced Tables -->
        </div>
      </div>

      <!-- /. ROW  -->

      <footer>
        <p>All right reserved. by: <a href="https://iiti.ac.in">IIT Indore</a></p>
      </footer>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  {% endblock %}

  {% block script %}
  <!-- jQuery Js -->
  <script src="../../static/admin_assets/js/jquery-1.10.2.js"></script>

  <!-- Bootstrap Js -->
  <script src="../../static/admin_assets/js/bootstrap.min.js"></script>

  <script src="../../static/admin_assets/materialize/js/materialize.min.js"></script>

  <!-- Metis Menu Js -->
  <script src="../../static/admin_assets/js/jquery.metisMenu.js"></script>
  <!-- Morris Chart Js -->
  <script src="../../static/admin_assets/js/morris/raphael-2.1.0.min.js"></script>
  <script src="../../static/admin_assets/js/morris/morris.js"></script>


  <script src="../../static/admin_assets/js/easypiechart.js"></script>
  <script src="../../static/admin_assets/js/easypiechart-data.js"></script>

  <script src="../../static/admin_assets/js/Lightweight-Chart/jquery.chart.js"></script>
  <!-- DATA TABLE SCRIPTS -->
  <script src="../../static/admin_assets/js/dataTables/jquery.dataTables.js"></script>
  <script src="../../static/admin_assets/js/dataTables/dataTables.bootstrap.js"></script>
  <script>
    $(document).ready(function () {
      $('#dataTables-example').dataTable();
    });
  </script>
  <!-- Custom Js -->
  <script src="../../static/admin_assets/js/custom-scripts.js"></script>
  {% endblock %}