{% extends 'base.html' %}


{% block body %}
  <div class="heading_bar">
  <h2>Welcome {{ name }} <i class="error_green">(Admin)</i></h2>
  </div>
  <div class="options_list">
    {% block home %}
      Please choose the option from menu - <br />
      <div class="card1">
      1. <a href="/librarian/add_librarian" class="linkHome">add librarian</a>
      </div>
      <div class="card1">
      2. <a href="/librarian/add_student" class="linkHome">add student</a>
      </div>
      <div class="card1">
      3. <a href="/librarian/add_librarian" class="linkHome">add books</a>
      </div>
      <div class="card1"> 
      4. <a href="/librarian/add_librarian" class="linkHome">add shelf </a>
      </div>   
      <div class="row">
        <div class="col col-sm-2 flex_center card31">Uploaded Forms</div>
        <div class="col col-sm-5 flex_center card32">
          <a href="/librarian/uploaded_librarian_files" class="linkHome">
          Employee</a></div>
        <div class="col col-sm-5 flex_center card33">
          <a href="/librarian/uploaded_student_files" class="linkHome">
          Student</a></div>
      </div> 
    {% endblock %}
  </div>
{% endblock %}