{% extends 'base.html' %}


{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>E-Library</span></h2>
          <p class="animate__animated fanimate__adeInUp">Bad libraries build collections, good libraries build services, great libraries build communities. The only thing that you absolutely have to know, is the location of the library. Nothing is pleasanter than exploring a library.</p>
          <a href="/getStarted" class="btn-get-started animate__animated animate__fadeInUp scrollto">GET STARTED</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Learning Today, Leading Tomorrow</h2>
          <p class="animate__animated animate__fadeInUp">Without libraries what have we? We have no past and no future. Everything you need for better future and success has already been written. And guess what? All you have to do is go to the library.</p>
          <a href="/getStarted" class="btn-get-started animate__animated animate__fadeInUp scrollto">GET STARTED</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">I imagine, is a happy book</h2>
          <p class="animate__animated animate__fadeInUp">The library card is a passport to wonders and miracles, glimpses into other lives, religions, experiences, the hopes and dreams and strivings of ALL human beings, and it is this passport that opens our eyes and hearts to the world beyond our front doors, that is one of our best hopes against tyranny, xenophobia, hopelessness, despair, anarchy, and ignorance.</p>
          <a href="/getStarted" class="btn-get-started animate__animated animate__fadeInUp scrollto">GET STARTED</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

      <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Who we are</p>
        </div>

        <!-- <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Build a branded collection of open access peer-reviewed titles.</li>
              <li><i class="ri-check-double-line"></i> Increase the visibility and retrievability of high-quality publications.</li>
              <li><i class="ri-check-double-line"></i> Promote open access book publishing.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div> -->
        <div class="row">
          <div class="col-lg-6 " data-aos="fade-up">
            <img src="static/assets/img/about.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="zoom-in" data-aos-delay="200">
            <h3>IIT Indore E-Library from Group-3</h3>
            <p class="fst-italic">
              This is a library website where millions of books are available for the readers. Everyone can get free access & join the membership of the E-Library.
            </p>
             <ul>
              <li><i class="ri-check-double-line"></i> Build a branded collection of open access peer-reviewed titles.</li>
              <li><i class="ri-check-double-line"></i> Increase the visibility and retrievability of high-quality publications.</li>
              <li><i class="ri-check-double-line"></i> Promote open access book publishing.</li>
            </ul>
            <p>
              E-LIBRARY IS AVAILABLE AT IIT INDORE.
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->



    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="70000" data-purecounter-duration="2" class="purecounter"></span>
            <p>Readers</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Books</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
            <p>Ranking</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3" data-aos="zoom-in">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <i class=" ri-calendar-event-fill"></i>
              <h4 class="d-none d-lg-block">Features</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <i class="ri-user-follow-fill"></i>
              <h4 class="d-none d-lg-block">Easy To access</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <i class="ri-book-2-fill"></i>
              <h4 class="d-none d-lg-block">1M+ Books</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <i class="ri-timer-fill"></i>
              <h4 class="d-none d-lg-block">24x7 Avail</h4>
            </a>
          </li>
        </ul>

  
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Services</h2>
          <p>What we do offer</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Excellence Service</a></h4>
              <p class="description">The ability of service providers to consistently meet and occasionally even exceed customers' expectations.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Information Resources</a></h4>
              <p class="description">Information Resources manages access and provides training on various resources as it relates to systems that handle user information.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Mapping of knowledge</a></h4>
              <p class="description">Helps in the locating of documents, either directly or through the catalog.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Accessibility</a></h4>
              <p class="description"> The practice of making websites usable by as many people as possible.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="ri-secure-payment-fill" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Safety and Security</a></h4>
              <p class="description">Safety can be measured from the likelihood of a states covering stability, certainty and harm free before the accident.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
              <div class="icon"><i class=" ri-device-recover-fill" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Being Environmentally Suitable</a></h4>
              <p class="description">This website is an encyclopedia of the atmospheric environment, with educational material.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Top Books</h2>
          <p>What we've find</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-story">story</li>
          <li data-filter=".filter-Sci-fi">sci_fi</li>
          <li data-filter=".filter-Self-Help">self_help</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-story">
            <div class="portfolio-img"><img src="static/assets/img/lib_image/cover1.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Don Quixote, By Miguel de Cervantes</h4>
              <p>story</p>
              <a href="static/assets/img/lib_image/cover1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Don Quixote, By Miguel de Cervantes"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Sci-fi">
            <div class="portfolio-img"><img src="static/assets/img/lib_image/cover2.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Lord of the Rings, By J.R.R. Tolkien</h4>
              <p>sci-fi</p>
              <a href="static/assets/img/lib_image/cover2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Lord of the Rings, By J.R.R. Tolkien"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-story">
            <div class="portfolio-img"><img src="static/assets/img/lib_image/cover3.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>And Then There Were None, By Agatha Christie</h4>
              <p>story</p>
              <a href="static/assets/img/lib_image/cover3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="And Then There Were None, By Agatha Christie"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Self-Help">
            <div class="portfolio-img"><img src="static/assets/img/lib_image/cover4.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Harry Potter and the Sorcerer’s Stone by J. K. Rowling</h4>
              <p>self-help</p>
              <a href="static/assets/img/lib_image/cover4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Harry Potter and the Sorcerer’s Stone by J. K. Rowling"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Sci-fi">
            <div class="portfolio-img"><img src="static/assets/img/lib_image/cover5.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>The Maltese Falcon, Dashiell Hammett</h4>
              <p>sci-fi</p>
              <a href="static/assets/img/lib_image/cover5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="The Maltese Falcon, Dashiell Hammett"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-story">
            <div class="portfolio-img"><img src="static/assets/img/lib_image/cover6.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>The Lord of the Rings, J.R.R. Tolkien</h4>
              <p>story</p>
              <a href="static/assets/img/lib_image/cover6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="The Lord of the Rings, J.R.R. Tolkien"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Self-Help">
            <div class="portfolio-img"><img src="static/assets/img/lib_image/cover7.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Attitude Is Everything: Change Your Attitude ... Change Your Life!</h4>
              <p>self-help</p>
              <a href="static/assets/img/lib_image/cover7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Attitude Is Everything: Change Your Attitude ... Change Your Life!"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Self-Help">
            <div class="portfolio-img"><img src="static/assets/img/lib_image/cover8.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>A Game of Thrones by George R. R. Martin</h4>
              <p>self-help</p>
              <a href="static/assets/img/lib_image/cover8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="A Game of Thrones by George R. R. Martin"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Sci-fi">
            <div class="portfolio-img"><img src="static/assets/img/lib_image/cover9.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4> Gardens of the Moon by Steven Erikson</h4>
              <p>sci-fi</p>
              <a href="static/assets/img/lib_image/cover9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=" Gardens of the Moon by Steven Erikson"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Testimonials</h2>
          <p>What they are saying about us</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Rahul Kumar</h3>
                <h4>E-library Member</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Deepkamal Jassal</h3>
                <h4>E-library Member</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>E-library Member</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Kuldeep Singh</h3>
                <h4>E-library Member</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Krishannu Saini</h3>
                <h4>E-library Member</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Krishannu Saini</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Kuldeep Singh</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rahul Kumar</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Deepkamal Jassal</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>IIT Indore, Indore, MP 452020</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://maps.google.com/maps?q=IIT%20Indore&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->


<!-- Home Page
<br />
Links
<br />
1. <a href = "/librarian/login"><i class='bx bx-library' ></i>
  Librarian login</a><br />
2. <a href = "/user/login"><i class='bx bxs-user-rectangle' ></i> User login</a><br />
3. <a href = "/books/home"><i class='bx bxs-book'></i> </i> Books</a><br /> -->

{% endblock %}