.buttons_blue{
  cursor: pointer;
  background-color: rgb(86, 163, 214);
  border-radius: 2px;
  border: 1px gray solid;
  width: auto;
  margin: 2px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-left: 0px;
  padding: 0px;
  box-shadow: black 1px 1px 1px 1px;
}

.buttons_blue:hover{
  background-color: rgb(15, 119, 189);
}

.flex-shelf{
  display: flex;
  flex-direction: row;
}

.image1{
  background-color: rgb(14, 13, 13);
  padding-left: 0px;
  padding-right: 0px;
}

.image1:hover{
  background-color: rgb(14, 13, 13);
  padding-left: 0px;
  padding-right: 0px;
  opacity: 0.5;
}


.image-box{
  height: 500px;
}

.left-panel{
  position: absolute;
  top: 750px;
  right: 0px;
  background-color: #fff;
  box-shadow: #888 1px 1px 1px 1px;
  margin: 0;
  padding: 10px;
  border: #555 2px solid;
  border-top-left-radius: 10px;
  height: 100%;
  width: 300px;
}

.library-shelf{
  display: block;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  min-height: 500px;
  background-color: aliceblue;
}

.linkHome{
  color: black;
  margin-left: 2px;
}

.linkHome:hover{
  color: black;
  text-decoration: none;
}

/* width */
.example::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.example::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.example::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.example::-webkit-scrollbar-thumb:hover {
  background: #555; 
}