.listcontainer{
    margin: 25px;
}
.container {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
}

.left {
    width: 30%;
    display: block;
    float: left;
}

.right {
    width: 70%;
    display: block;
    float: left;
}
.bookshelves td{
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
}
table.bookshelves{
    border: none;
}
table,
th,
td {
    border: 1px solid black;
    padding: 4px;
}
button{
    margin: 10px;
}