{% extends 'baseuser.html' %}


{% block body %}
<div class="listcontainer">
    <h3>Reading Lists</h3>
    <h6>List Name - {{listdetail[0]}}</h6>
    <h6>Type - {{listdetail[1]}}</h6>
    <br>
    <h3>Books</h3>
    <p>You can add more books in your lists by browsing.</p>
    <table style="width: 70%; margin-top: 10px;">
        <thead>
            <tr>
                <th>
                    S. No.
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Year of publication
                </th>
                {% if (delete_status) %}
                <th>
                    Delete
                </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(listbooks|length) %}
            <tr>
                <td>
                    {{ i+1 }}
                </td>
                <td>
                   {{ listbooks[i][0] }}
                </td>
                <td>
                    {{ listbooks[i][1] }}
                </td>
                <td>
                    {{ listbooks[i][2] }}
                </td>
                <td>
                    {{ listbooks[i][3] }}
                </td>
                <td>
                    {{ listbooks[i][4] }}
                </td>
                {% if (delete_status) %}
                <td>
                    <form method="POST">
                        <input type='text' id='isbn' name='isbn' value='{{ listbooks[i][0] }}' hidden>
                        <input type='text' id='type' name='type' value='delete' hidden>
                        <input type='submit' value='Delete'>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}